*{
    font-family:Microsoft Yahei;
}

a{
    text-decoration:none;
    color:black
}


#wrapper{
    display: inline-block;
    padding: 20px;
    background: #eee;
    border:1px solid #999;
    margin: 20px;
}

#leftBox{
    float: left;
    width: 200px;
    height: auto;
    padding: inherit;
    border: inherit;
    margin-right: 20px;
}


#photo img{
    display: block;
    float: left;
    height: 80px;
    width: 80px;
    border: inherit;

}

#name{
    text-align: center;
    float: right;
    word-break: break-all;
}

#middleBox{
    padding: inherit;
    border: inherit;
    overflow: auto;

}

#rightBox{
    float: right;
    width:80px;
    padding: inherit;
    border: inherit;
    margin-left: 20px;
}

.rightPic{
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border: inherit;
}

.rightPic:last-of-type{
    margin-bottom: 0;
}